/* .ui.info.message {
    background-color: #C8CBCE;
    color: #ffffff
}

.ui.attached.info.message, .ui.info.message {
    box-shadow: 0 0 0 0px #c8cbce inset, 0 0 0 0 transparent;
}

.short-row {
    min-height: 150px;
}

.tall-row {
    min-height: 370px;
}

.target-box-placeholder {
    background: transparent;
    border: none;
    min-height: 400px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.target-box {
    padding: 5px 5px;
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
} */
