<div class="ui form" style="text-align: left !important">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

        <div #tabComponentTag class="proppages ui top attached tabular menu">
            <a #tabComponentTag (click)="setCurrentTab(tab)" *ngFor="let tab of propertyPages; let i = index"
               [ngClass]="{'active': tab.groupId == currentTab }"
               attr.data-tab="{{tab.groupId}}" class="item">{{tab.displayName}} </a>
        </div>

        <div *ngFor="let page of propertyPages; let i = index"
             [@contentSwitch]="page.groupId == currentTab ? 'active':'inactive'" [ngClass]="{'active': page.groupId == currentTab }"
             attr.data-tab="{{page.groupId}}"
             class="proppages ui bottom attached tab segment">


            <div *ngFor="let property of page.properties"
                 class="form-row">
                <dashboard-df-property
                    [form]="form"
                    [widgetTags]="widgetTags"
                    [property]="property"
                >

                </dashboard-df-property>
                <br>
            </div>

        </div>
        <div class="form-row field">
            <button [disabled]="!form.valid || !form.dirty" class="ui green submit button" type="submit"> Save</button>
        </div>
    </form>

    <div *ngIf="showMessage" [@showHideAnimation] class="form-row">
        <br>
        <div class="ui success message">Saved!</div>
    </div>

</div>
